<html>
<head>
      
         <!-- <link rel="stylesheet" href="style.css"> -->
    <title>Client side interactive</title>
       </head>
<body>
        <h1>KNOW what you don't know</h1>
         <!-- <form id="index" action="/post12345" method="POST"> -->
            
       
            <h3>QUESTION</h3>
                    
            <p>Your Answer? : <br><br>
               
          
               
            </p>
                 
               
             </form>
             
                          
        </body>




</html>
